/**
 * img card list
 *
 * by tobeyouth@gmail.com
 */
.img-card-list-wrap {
	position: relative;
	z-index: 1;
	height: 100%;
	padding: 20px 0px;
}
.img-card-list,.img-card {
	-webkit-transition: all .25s linear;
	   -moz-transition: all .25s linear;
	    -ms-transition: all .25s linear;
	     -o-transition: all .25s linear;
	        transition: all .25s linear;
}
.img-card-list {
	position: absolute;
	z-index: 1;
	left: 0px;
	top: 0px;
	margin: 0px -1.5rem;
}
.img-card-list .cur {
	-webkit-transform: scale(1.1);
	   -moz-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	     -o-transform: scale(1.1);
	        transform: scale(1.1);
}
.img-card {
	text-decoration: none;
	display: block;
	overflow: hidden;
	float: left;
	background-color: #fff;
	padding: 15px;
	margin: 0px 10px;
	border:1px solid #ccc;
	border-radius: 6px;
	box-shadow: 0px 0px 10px #e4e4e4;
}
.img-card .imgbox {
	max-height: 250px;
	margin-bottom: 15px;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.img-card .imgbox .title {
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: 0px;
	padding: 1rem;
	line-height: 2rem;
	color: #fff;
	background-color: rgba(0,0,0,0.5);
}
.img-card .content {
	line-height: 2.2rem;
	font-size: 1.8rem;
	color: #e1592c;
	text-align: center;
	text-decoration: none;
}