/**
 * landingpage页的一些通用部分
 *
 * by tobeyouth@gmail.com
 */
/*body {
	position: absolute;
	z-index: 1;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}*/
.header {
	height: 4.5rem;
	line-height: 4.5rem;
	padding: 0px 15px;
	background: url(/static/img/logo.png) 15px center no-repeat #e1592c;
	background-size: 7rem 2.7rem;
}
.footer {
	display: block;
	text-decoration: none;
	height: 6rem;
	line-height: 6rem;
	width: 100%;
    position: absolute;
	z-index: 5;
	left: 0px;
    margin-bottom:-6rem;
    bottom: 0px;
	background-color: #23b7a8;
	color:#fff;
	font-size: 2rem;
	text-align: center;
}
.list-box {
	padding-top: 3rem;
	padding-bottom: 2rem;
	overflow: hidden;
}
