/**
 * 邀请页
 *
 * 邀请用户
 */
@import url(layout.css);
@import url(component-landing-elem.css);
@import url(component-imgcardlist.css);

.user {
	padding: 2rem 1rem 0rem 3rem;
	clear: both;
	overflow: hidden;
}
.user .avatar {
	float: left;
	width: 5rem;
	height: 5rem;
	display: block;
}
.user .content {
	margin-top: -0.3rem;
	margin-left: 6rem;
	/*padding-left: 1rem;*/
	line-height: 1.6rem;
	color: #ccc;
	font-size: 1.4rem;
}
.user .name {
	line-height: 2rem;
	color: #333;
}