/**
 * 邀请页 - 种子用户
 *
 * by tobeyouth@gmail.com
 */
@import url(layout.css);
@import url(component-landing-elem.css);
@import url(component-imgcardlist.css);

.main .title {
	padding: 1.5rem;
	text-align: center;
	line-height: 2.6rem;
	font-size: 1.8rem;
	color:#624226;
}
