/**
 * layout
 */
* {
    -webkit-box-sizing:border-box;
	box-sizing:border-box;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	font-style: normal;
}
section,article,div,p,body,html,footer,nav,title {
	padding: 0px;
	margin: 0px;
}
html {
	font-size:0.625em;
}
body {
	font-size: 1.2rem;
}
