/**
 * 分享页
 */
@import url(layout.css);
.wrap {
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background-color: #da0625;
}
.title {
	font-size: 1.5rem;
	color: #333;
	text-align: center;
	line-height: 25px;
	padding: 42px 0px 75px 0px;
	position: relative;
	z-index: 1;
	background-color: #ffcb43;
	background-image: url(/static/img/share-banner.png);
	background-position:center bottom;
	background-repeat:no-repeat;
	background-size: 100% auto;
}
.title .friends {
	display: inline-block;
	width: 1.8rem;
	height: 1.8rem;
	background: url(/static/img/share-icon.png) 0px 0px no-repeat;
	background-size: 1.8rem;
	vertical-align: top;
	margin: 0px 8px;
}
.title .arrow {
	display: block;
	width: 3.3rem;
	height: 4.5rem;
	position: absolute;
	z-index: 1;
	top: 0rem;
	right: 1rem;
	background: url(/static/img/share-arrow.png) 0px 0px no-repeat;
	background-size: 3.3rem 4.5rem;
}
.content {
	padding-top: 3.2rem;
	color: #fff;
	text-align: center;
}
.content p {
	font-size: 1.5rem;
	line-height:2.6;
}
.content .hd {
	line-height: 3.6rem;
	font-size: 1.6rem;
	color: #feec9f;
	border-bottom: 0.1rem solid #b03533;
}
.content .price {
	border-top: 0.1rem solid #d74240;
	line-height: 4.2rem;
	font-size: 1.8rem;
}
.content .free {
	text-decoration: line-through;
}







